@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Arimo", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9232c;
  --color-secondary: #8f1d21;
}


li .active {
  font-weight: bold;
  /* padding: 7px 10px; */
  /* background: linear-gradient(to bottom right, #f9232c, #8f1d21); */
  /* color: #8f1d21; */
  border-radius: 2px;
  border-bottom: 3px solid #f9232c;
}