@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Arimo", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9232c;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


li .active {
  font-weight: bold;
  border-radius: 2px;
  border-bottom: 3px solid #f9232c;
}


.conic-spin {
  border-radius: 2rem;
  /* match rounded-3xl */
  background: conic-gradient(from 0deg, #f9232c, transparent, transparent, #f9232c);
  mask: linear-gradient(#fff 0 0) content-box;
  /* ensures inner area is transparent */
  -webkit-mask: linear-gradient(#fff 0 0) content-box;
  animation: conic-spin-anim 6s linear infinite;
}

@keyframes conic-spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin-border {
  position: absolute;
  inset: 0;
  border-radius: 9999px;

  /* Theme variables */
  --spin-accent: rgba(249, 35, 44, 0.55);
  --spin-fade: rgba(249, 35, 44, 0.05);

  background: conic-gradient(
    from 0deg,
    var(--spin-accent),
    transparent 35%,
    transparent 65%,
    var(--spin-accent)
  );

  filter: blur(0.3px);
  animation: spin 7s linear infinite;
  will-change: transform;
}

[data-theme="dark"] .spin-border {
  --spin-accent: rgba(249, 35, 44, 0.8);
  --spin-fade: rgba(249, 35, 44, 0.15);

  filter: blur(0.6px);
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
