@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Arimo", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9232c;
  --color-secondary: #8f1d21;
}


li .active {
  font-weight: bold;
  border-radius: 2px;
  border-bottom: 3px solid #f9232c;
}