@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Arimo", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9232c;
  --color-secondary: #8f1d21;
}


li .active {
  font-weight: bold;
  border-radius: 2px;
  border-bottom: 3px solid #f9232c;
}


.conic-spin {
  border-radius: 2rem; /* match rounded-3xl */
  background: conic-gradient(from 0deg, #f9232c, transparent, transparent, #f9232c);
  mask: linear-gradient(#fff 0 0) content-box; /* ensures inner area is transparent */
  -webkit-mask: linear-gradient(#fff 0 0) content-box;
  animation: conic-spin-anim 6s linear infinite;
}

@keyframes conic-spin-anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
